


.reminderContainer{
    border-bottom: 3px solid black;
    margin: 20px;
    text-align: center;
    align-self: center;

    p{
        margin: 10px;
    }

    button{
        margin-bottom: 10px;
    }
}