.assignmentAdderContainer{
  border : 3px solid grey;
  text-align: center;


  .assignmentAdderTitle{
    margin: 10px 0;
    text-align: center;
  }
  .assignmentAdderButtonsContainer{
    display: flex;
    justify-content: center;
  }
  .formInputContainer{
    margin-top: auto;
    margin-bottom: auto;
  }
  .formContainer{
    margin-top: auto;
    margin-bottom: auto;
  }

  button{
    border: none;
    min-width: 125px;
    width: auto;
    align-self: center;
    height: 40px;
    margin-top: 20px;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed' ,sans-serif;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .buttonStyles{
    background-color: black;
    color: white;
    &:hover{
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }

  .invertedButtonStyles{
    background-color: white;
    color: black;
    border: 1px solid black;


    &:hover{
      background-color:black;
      color: white;
      border: none;
    }
  }
}