

.assignmentsPreviewContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px;
    text-align: center;

  .privateBox{
    border: 3px solid #8E8D8A;
    margin: 0 5px;
    .scrollable{
      height: 75vh;
      overflow: auto;
    }
  }

  .groupBox{
    border: 3px solid #8E8D8A;
    margin: 0 5px;
    .scrollable{
      overflow: auto;
    }

  }
}