body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);

}

.App{
  background-color: var(--background);
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
  color:black;
}

*{
  box-sizing: border-box;
}

.routeContainers{
  top:70px;
}