body{
  font-family: 'Open Sans Condensed';
}

.App{
  height: 100%;
  width: 100%;
  background-color: var(--background);
}
a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.routeContainers{
  top:70px;
}